*{
    margin: 0;
    padding: 0;
    background-color: #17641b;
}
.intro{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-left:20px;
    color: #ff00ff;
}

.intro1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    color: #ff00ff;
}
.para{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;;
    font-weight: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    /* color: #cc92cc;
     */
     color: #ffff;
}
.clr-btn{
 border: 2px solid #ff00ff;
 background-color: #1e4620;
 color: #ffff;
 margin-left: 20px;
 padding: 10px 20px 10px 10px;
}
.clr-btn:hover{
    background-color: #b54db5;
    color:aliceblue;
    cursor: pointer;
}
#right-logo{
    color:#ffff;
    position: relative;
    top: 10px;
    right: 10px;
    position: fixed;
}
#right-logo:hover{
    color:yellow;
    
}