    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    html,body{
        background: #250057;
    }

    .input-box{
        background: #fff;
        /* width: 90%; */
        max-width: 500px;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 300px auto;
    }